<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BitFlyerApp</title>
    <script src="{% static "getCandlesticksAPI.js" %}" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        async function drawChart() {
            const response = await getCandlesticks();
            if (response) {
                if (response.status === 200) {
                    const candlesticks = response.candlesticks;
                    console.log(candlesticks[0][0]);
                }
            }

            {#var data = google.visualization.arrayToDataTable([#}
            {##}
            {#    ['Tue', 38, 38, 55, 55],#}
            {#    ['Wed', 55, 55, 77, 77],#}
            {#    ['Thu', 77, 77, 66, 66],#}
            {#    ['Fri', 66, 66, 22, 22],#}
                {#['mon', candlesticks[0][1], candlesticks[0][2], candlesticks[0][3], candlesticks[0][4]],#}
            {##}
            {#    // Treat the first row as data.#}
            {#], true);#}

            var data = google.visualization.arrayToDataTable(response.candlesticks, true);

            var options = {
                legend: 'none',
                bar: {groupWidth: '100%'}, // Remove space between bars.
                candlestick: {
                    fallingColor: {strokeWidth: 0, fill: '#a52714'}, // red
                    risingColor: {strokeWidth: 0, fill: '#0f9d58'}   // green
                }
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>test2</h1>
<p>product_code: {{ product_code }}</p>
<p>timestamp: {{ timestamp }}</p>
<p>volume: {{ volume }}</p>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
<script type="text/javascript">
    const getCandlesticksUrl = "{% url 'get_candlesticks' %}"
</script>

</html>